/*Las fuentes usadas son Arial Y Helvetica*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-stretch: expanded;
    letter-spacing: 4%;
}

section {
    padding: 15px 10%;
    width: 80%;
    max-width: 1080;
}

p {
    Font-Size: 1.5vw;
    padding: 2% 0 5% 0;
    color: #999999;
}

h1, h2, h3, h4 {
    color: #1F3F68;
}

h1, h2 {
    padding: 2% 0 5% 0;
}

h5 {
    color: #7a7a7a
}

/*=============================BARRA DE NAV=============================================*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

nav ul, nav a {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding: 0 10px;
}

nav li {
    display: inline-block;
}

nav  li a:hover {
    color: darkblue;
    font-weight: bolder;
}

/*===================================BRUCE BANNER==========================================*/

#Banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.ibb.co/wJHHfYX/banner.png");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    padding: 0;
}

#Banner img {
    width: 100%;
}

#Banner div {
    text-align: center;
    position: relative;
    top: 100%;
    color: white;
    padding: 50px;
}

#Banner h1 {
    Font-Size: 44px;
    padding: 20px;
    color: white;
}

#Banner p {
    Font-Size: 20px;
    padding: 15px 10%;
    width: 80%;
}

/*===================================BARRA BUSCADORA==========================================*/

#Searchbar {
    width: 80%;
    position: relative;
    display: flex;
    font-size: 14px;
    padding: 25px 10%;
}

.searchTerm {
    border: 0px solid;
    background-color: lightgray;
    color: grey;
    width: 100%;
    border-radius: 0 10px 10px 0;
    border-left: none;
}

.searchTerm:focus {
    color: black;
}

.SearchIcon {
    padding: 15px;
    border: 0px solid;
    background-color: lightgray;
    color: grey;
    width: 20px;
    border-radius: 10px 0 0 10px;
    border-right: none;
}

.searchTerm img {
    width: 100%;
}

/*===================================MAIN STORY==========================================*/

#MainStory {
    display: flex;
}

#MainLeft {
    width: 50%;
}

#MainRight {
    width: 50%;
    align-self: flex-end;
}

#MainStory h2 {
    font-size: 44px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 4%;
}

#MainStory p {
    color: black;
}

#MainStory img {
    width: 100%;
}

/*===================================RELATED STORY==========================================*/

#RelatedStory {
    display: flex;
    justify-content: space-between;
}

#MinorStoryBlock {
    width: 30%;
}

#MinorStoryBlock img {
    width: 100%;
}

#AuthorCred {
    padding: 5% 0;
    display: flex;
    justify-content: space-between;
}

#AuthRight {
    width: 70%;
    color: grey;
}

#AuthLeft {
    width: 30%;
    display: flex;
    justify-content: right;
}

#AuthLeft img {
    height: fit-content;
    width: auto;
}

/*=======================POPULAR ARTICLE DIVISOR===========================*/

#SeePopArt h3 {
    text-align: right;
    padding: 0 0 2% 0;
    opacity: 80%;
}

/*=======================POPULAR ARTICLE DIVISOR============================*/

/*===================================ARTICLE STORY==========================================*/

#ArticleCard {
    display: flex;
    padding: 3% 0 0 0;
}

#ArtCardRight {
    color: white;
    width: 30%;
}

#ArtCardLeft {
    width: 70%;
    padding: 0 0 0 5%;
}

#ArtCardPhoto {
    width: 100%;
}

#ArticleCard h2 {
    padding: 0 0 2% 0;
}

#ArticleCard p {
    color: #999999;
    padding: 0 0 0 0;
}

/*===================================CONTACT US==========================================*/

#Contact {
    background-color: #316099;
    width: 70%;
    border-radius: 0 250px 0 0;
    display: flex;
}

#Contact h2 {
    color: white;
}

#Contact p {
    font-size: 16px;
}

#Contact div {
    width: 50%;
    padding: 0 10%;
}

#Contact button {
    text-align: center;
    margin: auto;
    padding: 1% 4% 1% 4%;
    border-radius: 10px;
    background-color: #5A98D0;
    border: 0px;
}

/*===================================FOOOTER==========================================*/

#footer {
    background-color: #316099;
    width: 70%;
    display: flex;
}

#footer ul, li{
    color:white;
    list-style: none;
    padding: 2% 0 2% 0;
    font-size: 16px;
}

#footer h4{
    font-size: 20px;
}   

#Company, #AboutUS, #FollowUS{
    width: 40%;
    margin: auto;
    
}

#AboutUS, #FollowUS{
    padding: 0 0 0 8% ;
}