/*Las fuentes usadas son Arial Y Helvetica*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-stretch: expanded;
    letter-spacing: 4%;
}

section{
    padding: 15px 10%;
    width: 80%;
}

p{
    Font-Size: 20px;
    padding: 2% 0 5% 0;
}

h1, h2, h3, h4{
    color:#1F3F68
}

h5{
    color:#7a7a7a
}

/*=============================BARRA DE NAV=============================================*/

nav {
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

ul, a {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding: 0 10px;
}

li {
    display: inline-block;
}

li a:hover {
    color: darkblue;
    font-weight: bolder;
}

/*===================================BRUCE BANNER==========================================*/

#Banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.ibb.co/wJHHfYX/banner.png");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    padding: 0;
}

#Banner img {
    width: 100%;
}

#Banner div {
    text-align: center;
    position: relative;
    top: 100%;
    color: white;
    padding: 50px;
}

#Banner h1 {
    Font-Size: 44px;
    padding: 20px;
    color: white;
}

#Banner p {
    Font-Size: 20px;
    padding: 15px 10%;
    width: 80%;
}

/*===================================BARRA BUSCADORA==========================================*/

#Searchbar {
    width: 80%;
    position: relative;
    display: flex;
    font-size: 14px;
    padding: 25px 10%;
}

.searchTerm {
    border: 0px solid;
    background-color: lightgray;
    color: grey;
    width: 100%;
    border-radius: 0 10px 10px 0 ;    
    border-left: none;
}

.searchTerm:focus {
    color: black;
}

.SearchIcon {
    padding: 15px;
    border: 0px solid;
    background-color: lightgray;
    color: grey;
    width: 20px;    
    border-radius: 10px 0 0 10px;
    border-right: none;
}

.searchTerm img {
    width: 100%;
}

/*===================================MAIN STORY==========================================*/

#MainStory {
    padding: 15px 10%;
    width: 80%;
    column-count: 2;
  }

  #MainStory h2{
      font-size: 44px;
      font-family: Helvetica, sans-serif;
      font-weight: bold;
      letter-spacing: 4%;
  }

  #MainStory img{
    width: 100%;
  }
  
/*===================================RELATED STORY==========================================*/
#RelatedStory{
    display: flex;
    justify-content: space-between;
}

#MinorStoryBlock{
    width: 30%;
}

#MinorStoryBlock img{
    width: 100%;
}

#AuthorCred{
    padding: 5% 0;
    display: flex;
    justify-content: space-between;
}

#AuthRight{
    width: 70%;
    color: grey;
}

#AuthLeft{
    width: 30%;
    display: flex;
    justify-content: right;
}

#AuthLeft img{
    height: fit-content;
    width: auto;
}

/*===================================ARTICLE STORY==========================================*/

#ArticleCard{
    display: flex;
    padding: 3% 0 0 0 ;
}

#ArtCardRight{
    color: white;
    width: 30%;
}

#ArtCardLeft{
    width: 70%;
    padding: 0 0 0 5%;
}

#ArtCardPhoto {
    width: 100%;
}